server:
 port:
  ""
db:
    host:
        db.elephantsql.com
    port:
        5432
    database:
        insertDB
    user:
        insertUser
    password:
        insertPassword
    sslmode:
        disable
    maxIdleConns:
        5 
    maxOpenConns:
        5
    driver:
        postgres
